/* Master styles */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.announcement {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

.announcement__text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px ;
  padding: 6px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

body::-webkit-scrollbar {
  width: 11px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
}

/*Brand styles*/
.twitter {
    position: absolute;
    align-items: left;
    margin-top: 54px;
    margin-left: 65px;
}

.insta {
    position: absolute;
    align-items: left;
    margin-top: 53px;
    margin-left: 110px;
}

.facebook {
  position: absolute;
  align-items: left;
  margin-top: 49px;
  margin-left: 154px;
}

.youtube {
    position: absolute;
    align-items: left;
    margin-top: 54px;
    margin-left: 203px;
}

.shopping button {
  background: none ;
  color: rgb(255, 255, 255);
  border: none ;
  font-size: 16px;
}

.shopping {
  position: absolute;
  align-items: right;
  margin-top: 48px;
  margin-left: 1791px;
}

.cartbasket {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
}

.copyright {
  display: flex;
  margin-top: 50px;
  margin-left: 745px;
}

.copyright-wrapper {
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 75%;
  line-height: 23px;
}

.copyright a {
  color: white;
}

.other-stuff {
  display: absolute;
  color: white;
  text-align: left;
  font-size: 75%;
  line-height: 23px;
  margin-top: 50px;
  padding-left: 15px;
}

.other-stuff a{
  color: white;
}

.credit-cards {
  flex: 10%;
  margin-top: 20px;
  padding-left: 605px;
}

.fa-credit-card {
  opacity: 0.7;
  padding-right: 12px;
}

.fa-cc-visa {
  opacity: 0.7;
  padding-right: 12px;
}

.fa-cc-mastercard {
  opacity: 0.7;
  padding-right: 12px;
}

.fa-cc-paypal {
  opacity: 0.7;
}

.socials {
  position: absolute;
  padding-left: 1714px;
  padding-top: 11px;
}

.fa-facebook {
  opacity: 0.3;
  padding-right: 15px;
}

.fa-youtube-play {
  opacity: 0.3;
  padding-right: 15px;
}

.fa-instagram {
  opacity: 0.3;
  padding-right: 15px;
}

.fa-twitter {
  opacity: 0.3;
  padding-right: 15px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  left: 14px; /* Place the button 30px from the right */
  z-index: 69; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(12, 12, 12, 0.705); /* Set a background color */
  color: rgb(112, 112, 112); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  transition: 0.8s;
}

#myBtn:hover {
  background-color: rgb(19, 19, 19); /* Add a dark-grey background on hover */
  transition: 0.8s;
}

.mini-logo {
  margin-left: 905px;
  margin-top: -37px;
  margin-bottom: -15px;
}

/* Logo styles */
.logo {
    margin-top: 20px;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.img {
    position: absolute;
    max-height:90%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  
  img.main {
    z-index: 1;
    position: absolute;
  }

  img.glow {
    z-index: 1;
    transform: scale(1.01) translate(0%, 0%);
    -webkit-transform: scale(1.01) translate(0%, 0%);
    filter: brightness(5) invert(1) blur(6px);
    -webkit-filter: brightness(0) invert(1) blur(6px);
    opacity:0;
  }

  img.main:hover ~ img.glow {
    transition: 1s;
    opacity: 1;
  }

  img.main ~ img.glow {
    transition: 1s;
    opacity: 0;
  }
  
/* Nav styles */
.nav-wrapper {
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 77px;
}

.center-side {
    display: flex;
    margin-bottom: 13px;
}

.nav-wrapper > .center-side > div {
    margin-right: 80px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-link-wrapper a:hover {
    color: rgb(255, 255, 255);
}

.active-nav-link {
    border-bottom: 1px solid white;
}

.active-nav-link a {
    color: white !important;
}

/*Search bar*/
.search-bar {
position: absolute;
margin-left: 1589px;
margin-top: -148px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 150px;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 33px;
  padding: 10px;
  background: #000000;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #000000;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*INDEX*/

.featured-content-wrapper {
    position: relative;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.featured-content {
    border-bottom: 2px solid white;
    margin-right: 860px;
    margin-left: 860px;
}

/*subtitle text*/
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.portfolio-items-wrapper {
    position: relative;
}

.porfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}


/* SLIDESHOW */

/*We do this because the carousel needs to be 100% width 
in order for the aspect ratio trick to work*/
.carousel-container {
  width: 100%;
}

/*This is the actual carousel. Overflow hidden acts as a mask*/

.carousel {
  position: relative;
  width: 100%;
  /*Width of image is 980px. Height is 570px.*/
  padding-top: calc(2300 / 5184 * 100%);
  overflow: hidden;
}

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
}

.left-arrow:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
  border-color: #e6e6e6;
}

.right-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
}

.right-arrow:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.chevron {
  width: 25px;
  height: 25px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 10px 10px 0 0;
}


.chevron.right {
  transform: rotate(45deg);
}

.chevron.left {
  transform: rotate(-135deg);
}

.circle-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
}

.circle {
  border: 1px solid white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.circle-fill {
  background-color: white;
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  bottom: 45px;
  left: 0;
  width: 100%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

.text-container p:nth-child(1) {
  margin: 10px 100px;
  font-size: 1.5em;
}

.text-container p:nth-child(2) {
  margin: 10px 100px 20px 100px;
}

.carousel-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animations */
@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes comeRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes comeLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}


/*COLLECTION PAGE*/

/*Collection styles */
.collection-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 180px;
    margin-right: 180px;
}

.img-text-wrapper .subtitle1 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.img-text-wrapper .price2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.616);
}

.logo-wrapper {
  position: relative;
  max-width: 100%;
}

.subtitle1 a {
  color: white;
  text-decoration: none;
}

.logo-wrapper img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
}
.logo-wrapper:hover img.image-hover {
  opacity: 1;
}

.index-wrapper {
  margin-left: 213px;
  font-size: 1em;
  display: flex;
  align-items: left;
  justify-content: left;
}

.left-side {
  display: flex;
  margin-bottom: 40px;
  margin-top: 10px;
}

.index-link-wrapper a{
  color: rgb(187, 187, 187);
  text-decoration: none;
  transition: 0.5s;
}

.index-wrapper > .left-side > div {
  margin-right: 50px;
}

.index-link-wrapper a:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.active-index-link a{
  color: white !important;
}

/*LOOKBOOK PAGE*/

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 44px;
  padding-left: 44px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 300px;
}

.column3 {
  float: left;
  width: 315px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #999;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -100px;
  color: rgb(143, 143, 143);
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #ffffff;
}

/* Next & previous buttons */
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -54px;
  color: rgb(143, 143, 143);
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover,
.next3:hover {
  color: #ffffff;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.267), 0 6px 20px 0 rgba(255, 255, 255, 0.267);
}


/*SUPPORT PAGE*/

.contact-us-wrapper {
  position: relative;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.contact-us {
  border-bottom: 2px solid white;
  margin-right: 893px;
  margin-left: 893px;
}

.about-section {
    color: rgb(255, 255, 255);
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.about-section a{
  color:rgb(255, 255, 255);
}

.shipping-section {
  border-bottom: 2px solid white;
  margin-right: 905px;
  margin-left: 905px;
}

.returns-section {
  border-bottom: 2px solid white;
  margin-right: 908px;
  margin-left: 908px;
}

.size-guides-section {
  border-bottom: 2px solid white;
  margin-right: 896px;
  margin-left: 896px;
}

.contact-form {
  width: 60%;
  margin-left: 380px;
  margin-bottom: 50px;
  align-self: center;
}

.two-col {
  overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
  width: 49%;
}

.two-col .col1 {
  float: left;
}

.two-col .col2 {
  float: right;
}

.two-col label {
  display: block;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  margin-left: 510px;
  margin-top: 10px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ffffff;
  color: black;
}

/* SIZING GUIDE */
.size-guides-wrapper {
  position: relative;
  color: white;
  text-align: center;
  font-size: larger;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.size-img-wrapper {
  position: relative;
  padding-left: 230px;
}

/*PRODUCT IMAGE GALLERY*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
  display: flex;
}

.container2 {
  flex: 50%;
}

/* Hide the images by default */
.slide-wrapper {
  padding-left: 240px;
  padding-top: 80px;
}

.mySlides1 {
  display: none;
  padding-left: 80px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: 87px;
  color: rgb(124, 124, 124);
  font-weight: bold;
  font-size: 45px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 990px;
  border-radius: 3px 0 0 3px;
}

.prev1 {
  padding-left: 80px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  color: rgb(255, 255, 255);
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 89%;
  float: right;
  padding-right: 29px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column1 {
  float: left;
  width: 95%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/*Product description*/

.product-wrapper {
  position: absolute;
  padding-top: 55px;
  padding-left: 40px;
}

.product-name {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.product-description {
  position: relative;
  color: white;
  text-align: center;
  line-height: 21px;

}

.product-price {
  position: relative;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.buy-buttons {
  position: relative;
  align-items: center;
  padding-left: 170px;
}

.btn {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 18px 28px;
  font-size: 18px;
  cursor: pointer;
}

.buy-now {
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

.buy-now:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.basket {
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

.basket:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.related-products-wrapper {
  position: relative;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.related-products {
  border-bottom: 2px solid white;
  margin-right: 859px;
  margin-left: 859px;
}

.related-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 62px;
  margin-right: 62px;
}

/* Dropdown */
/* The container must be positioned relative: */
.dropdown-wrapper {
  position: relative;
  margin-left: 202px;
  margin-bottom: 30px;
}

.sizes {
  position: relative;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 6px;
}

/*sizing guide tab*/
.sizing-guides1 {
  position: relative;
  padding-left: 206px;
}

.sizing-guides1 a{
  text-decoration: none;
  color: white;
}

.sizing-guides1 a:hover {
  color: white;
  text-decoration: underline;
}


/*SHOPPING CART*/

.shopping-cart-text {
  display: absolute;
  font-family: "Lato", sans-serif;
  color:rgb(255, 255, 255);
  text-align: center;
}

.cart-container {
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 40px;
}

.cart-container ion-icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.quantity1 ion-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-header {
  width: 100%;
  max-width: 850px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid white;
  margin: 0 auto;
}

.product-title {
  color: white;
  width: 45%
}

.price {
  color: white;
  width: 10%;
  display: flex;
  align-items: center;
}

.price1 {
  color: white;
  width: 10%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}


.quantity {
  color: white;
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.quantity1 {
  color: white;
  width: 20%;
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.total {
  color: white;
  width: 10%;
  display: flex;
  align-items: center;
  padding-left: 155px;
}

.total1 {
  color: white;
  width: 10%;
  display: flex;
  align-items: center;
}

.cart-products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  padding-left: 531px;
  gap: 20px;
}

.cart-products span{
  color: white;
}

.basketTotalContainer {
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 10%;
}

.basketTotal {
  width: 14%;
}

.check-out {
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

.check-out:hover {
background-color: #ffffff;
color: rgb(0, 0, 0);
}

.check-out-button {
  position: relative;
  align-items: center;
  padding-left: 875px;
}






.snipcart-cart-button--highlight {
  background: none;
  background-color:black;
}

.snipcart__box--badge-highlight {
  background: none;
  background-color: black;
}

.snipcart__actions--link {
  color: black;
}

.snipcart__icon--blue-light path {
  fill: black;
}

.snipcart__loading__screen__icon path.active {
  fill: black;
}



/* MEDIA QUERIES */

@media (max-width: 600px) {
  .collection-items-wrapper {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured-content {
    margin-left: 150px;
    margin-right: 150px;
  }
  .nav-wrapper {
    margin-left: 40px;
  }
  .nav-wrapper > .center-side > div {
    margin-right: 40px;
  }
  .index-wrapper {
    margin-left: 10px;
  }
  .shopping {
    margin-left: 410px;
  }
  .search-bar {
    opacity: 0;
    margin-left: 230px;
  }
  .twitter {
    margin-left: 15px;
  }
  .insta {
    margin-left: 55px;
  }
  .facebook {
    margin-left: 95px;
  }
  .other-stuff {
    padding-left: 5px;
  }
  .copyright {
    margin-left: 55px;
  }
  .credit-cards{
    padding-left: 50px;
  }
  .socials {
    padding-left: 349px
  }
  .mini-logo {
    margin-left: 195px;
  }
  .row {
    grid-template-columns: 1fr;
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-us {
    margin-right: 186px;
    margin-left: 186px;
  }
  .about-section {
    margin-left: 30px;
    margin-right: 30px;
  }
  .contact-form {
    width: 100%;
    margin-left: 5px;
  }
  .shipping-section {
    margin-right: 201px;
    margin-left: 201px;
  }
  
  .returns-section {
    margin-right: 202px;
    margin-left: 202px;
  }
  
  .size-guides-section {
    margin-right: 189px;
    margin-left: 189px;
  }
  input[type=submit] {
    margin-left: 173px;
  }
  .mySlides1 {
    padding-left: 0px;
  }
  .slide-wrapper {
    padding-left: 0px;
    padding-top: 10px;
  }
  .product-wrapper {
    padding-left: 0px;
  }
  .prev1 {
    padding-left: 0px;
    padding-top: 0px;
  }
  
  .related-items-wrapper {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 550px;
  }
  .related-products {
    margin-right: 152px;
    margin-left: 152px;
    opacity: 0;
  }
  .buy-buttons {
    padding-left: 155px;
  }
  .container2 {
    display: inherit;
  }
  .container1 {
    display: inherit;
  }
  .sizing-guides1 {
    padding-left: 190px;
  }
  .dropdown-wrapper {
    margin-left: 187px;
  }
  .next1 {
    right: -110px;
    padding-top: 0px;
  }
}

@media (min-width: 600px) {
  .collection-items-wrapper {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured-content {
    margin-left: 200px;
    margin-right: 200px;
  }
  .nav-wrapper {
    margin-left: 40px;
  }
  .nav-wrapper > .center-side > div {
    margin-right: 40px;
  }
  .index-wrapper {
    margin-left: 25px;
  }
  .shopping {
    margin-left: 510px;
  }
  .search-bar {
    opacity: 0;
    margin-left: 230px;
  }
  .twitter {
    margin-left: 15px;
  }
  .insta {
    margin-left: 55px;
  }
  .facebook {
    margin-left: 95px;
  }
  .other-stuff {
    padding-left: 5px;
  }
  .copyright {
    margin-left: 55px;
  }
  .credit-cards{
    padding-left: 50px;
  }
  .socials {
    padding-left: 449px
  }
  .mini-logo {
    margin-left: 205px;
  }
  .row {
    grid-template-columns: 1fr;
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-us {
    margin-right: 236px;
    margin-left: 236px;
  }
  .about-section {
    margin-left: 40px;
    margin-right: 40px;
  }
  .contact-form {
    width: 100%;
    margin-left: 10px;
  }
  .shipping-section {
    margin-right: 250px;
    margin-left: 250px;
  }
  
  .returns-section {
    margin-right: 252px;
    margin-left: 252px;
  }
  
  .size-guides-section {
    margin-right: 239px;
    margin-left: 239px;
  }
  input[type=submit] {
    margin-left: 220px;
  }
  .mySlides1 {
    padding-left: 0px;
  }
  .slide-wrapper {
    padding-left: 0px;
    padding-top: 20px;
  }
  .product-wrapper {
    padding-left: 30px;
  }
  .prev1 {
    padding-left: 0px;
    padding-top: 0px;
  }
  .related-items-wrapper {
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 500px;
  }
  .related-products {
    margin-right: 152px;
    margin-left: 152px;
    opacity: 0;
  }
  .buy-buttons {
    padding-left: 170px;
  }
  .container2 {
    display: inherit;
  }
  .container1 {
    display: inherit;
  }
  .sizing-guides1 {
    padding-left: 208px;
  }
  .dropdown-wrapper {
    margin-left: 204px;
  }
  .next1 {
    right: 0px;
    padding-top: 0px;
  }
}

@media (min-width: 690px) {
  .collection-items-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured-content {
    margin-left: 245px;
    margin-right: 245px;
  }
  .nav-wrapper {
    margin-left: 40px;
  }
  .nav-wrapper > .center-side > div {
    margin-right: 40px;
  }
  .index-wrapper {
    margin-left: 45px;
  }
  .shopping {
    margin-left: 610px;
  }
  .search-bar {
    opacity: 1;
    margin-left: 420px;
  }
  .twitter {
    margin-left: 50px;
  }
  .insta {
    margin-left: 95px;
  }
  .facebook {
  margin-left: 139px;
  }
  .copyright {
    margin-left: 145px;
  }
  .credit-cards{
    padding-left: 60px;
  }
  .socials {
    padding-left: 545px
  }
  .mini-logo {
    margin-left: 295px;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-us {
    margin-right: 281px;
    margin-left: 281px;
  }
  .about-section {
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact-form {
    width: 90%;
    margin-left: 35px;
  }
  .shipping-section {
    margin-right: 296px;
    margin-left: 296px;
  }
  
  .returns-section {
    margin-right: 297px;
    margin-left: 297px;
  }
  
  .size-guides-section {
    margin-right: 284px;
    margin-left: 284px;
  }
  input[type=submit] {
    margin-left: 240px;
  }
  .mySlides1 {
    padding-left: 40px;
  }
  .slide-wrapper {
    padding-left: 0px;
    padding-top: 40px;
  }
  .product-wrapper {
    padding-left: 80px;
  }
  .prev1 {
    padding-left: 40px;
    padding-top: 10px;
  }
  .related-items-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 500px;
  }
  .related-products {
    margin-right: 152px;
    margin-left: 152px;
    opacity: 0;
  }
  .buy-buttons {
    padding-left: 170px;
  }
  .container2 {
    display: inherit;
  }
  .container1 {
    display: inherit;
  }
  .sizing-guides1 {
    padding-left: 208px;
  }
  .dropdown-wrapper {
    margin-left: 204px;
  }
  .next1 {
    right: 40px;
    padding-top: 10px;
  }
}

@media (min-width: 767px) { 
  .collection-items-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured-content {
    margin-left: 284px;
    margin-right: 284px;
  }
  .nav-wrapper {
    margin-left: 40px;
  }
  .nav-wrapper > .center-side > div {
    margin-right: 40px;
  }
  .index-wrapper {
    margin-left: 70px;
  }
  .shopping {
    margin-left: 695px;
  }
  .search-bar {
    opacity: 1;
    margin-left: 500px;
  }
  .twitter {
    margin-left: 50px;
  }
  .insta {
    margin-left: 95px;
  }
  .facebook {
  margin-left: 139px;
  }
  .copyright {
    margin-left: 175px;
  }
  .credit-cards{
    padding-left: 95px;
  }
  .socials {
    padding-left: 616px
  }
  .mini-logo {
    margin-left: 325px;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-us {
    margin-right: 320px;
    margin-left: 320px;
  }
  .about-section {
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact-form {
    width: 90%;
    margin-left: 35px;
  }
  .shipping-section {
    margin-right: 335px;
    margin-left: 335px;
  }
  
  .returns-section {
    margin-right: 337px;
    margin-left: 337px;
  }
  
  .size-guides-section {
    margin-right: 323px;
    margin-left: 323px;
  }
  input[type=submit] {
    margin-left: 277px;
  }
  .mySlides1 {
    padding-left: 80px;
  }
  .slide-wrapper {
    padding-left: 0px;
    padding-top: 40px;
  }
  .product-wrapper {
    padding-left: 120px;
  }
  .prev1 {
    padding-left: 80px;
    padding-top: 0px;
  }
  .related-items-wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 500px;
  }
  .related-products {
    margin-right: 152px;
    margin-left: 152px;
    opacity: 0;
  }
  .buy-buttons {
    padding-left: 170px;
  }
  .container2 {
    display: inherit;
  }
  .container1 {
    display: inherit;
  }
  .sizing-guides1 {
    padding-left: 208px;
  }
  .dropdown-wrapper {
    margin-left: 204px;
  }
  .next1 {
    right: 77px;
    padding-top: 0px;
  }
    .row1 {
      width: 100%;
      padding-left: 80px;
      padding-right: 70px;
  }
}

@media (min-width: 992px) {
  .collection-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured-content {
    margin-left: 396px;
    margin-right: 396px;
  }
  .nav-wrapper {
    margin-left: 77px;
  }
  .nav-wrapper > .center-side > div {
    margin-right: 80px;
  }
  .index-wrapper {
    margin-left: 80px;
  }
  .shopping {
    margin-left: 923px;
  }
  .search-bar {
    opacity: 1;
    margin-left: 723px;
  }
  .twitter {
    margin-left: 65px;
}
.insta {
    margin-left: 110px;
}
.facebook {
  margin-left: 154px;
}
  .copyright {
    margin-left: 300px;
  }
  .other-stuff {
    padding-left: 15px;
  }
  .credit-cards{
    padding-left: 210px;
  }
  .socials {
    padding-left: 875px
  }
  .mini-logo {
    margin-left: 460px;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-us {
    margin-right: 432px;
    margin-left: 432px;
  }
  .about-section {
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact-form {
    width: 80%;
    margin-left: 100px;
  }
  .shipping-section {
    margin-right: 447px;
    margin-left: 447px;
  }
  
  .returns-section {
    margin-right: 448px;
    margin-left: 448px;
  }
  
  .size-guides-section {
    margin-right: 435px;
    margin-left: 435px;
  }
  input[type=submit] {
    margin-left: 325px;
  }
  .product-wrapper {
    padding-top: 15px;
    padding-left: 20px;
  }
  .container1 {
    display: flex;
  }
  
  .container2 {
    flex: 50%;
  }
  
  .slide-wrapper {
    padding-left: 10px;
    padding-top: 40px;
  }
  
  .mySlides1 {
    padding-left: 10px;
  }
  .related-products {
    opacity: 1;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 200px;
  }
  
  .related-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -480px;
  }
  .buy-buttons {
    padding-left: 95px;
  }
  .sizing-guides1 {
    padding-left: 130px;
  }
  .dropdown-wrapper {
    margin-left: 130px;
  }
  .next1 {
    right: 395px;
    padding-top: 10px;
  }
  .prev1 {
    padding-left: 10px;
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  .collection-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 180px;
    margin-right: 180px;
  }
  .featured-content {
    margin-right: 860px;
    margin-left: 860px;
  }
  .index-wrapper {
    margin-left: 213px;
  }
  .search-bar {
    margin-left: 1589px;
    }
    .nav-wrapper {
      margin-left: 77px;
  }
  .nav-wrapper > .center-side > div {
      margin-right: 80px;
  }
  .index-wrapper {
    margin-left: 213px;
  }
  .copyright {
    margin-left: 745px;
  }
  .shopping {
    margin-left: 1791px;
  }
  .mini-logo {
    margin-left: 905px;
  }
  .socials {
    padding-left: 1714px;
  }
  .credit-cards {
    padding-left: 605px;
  }
  .row {
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 44px;
    padding-left: 44px;
  }
  .contact-us {
    margin-right: 882px;
    margin-left: 882px;
  }
  .about-section {
    margin-left: 80px;
    margin-right: 80px;
  }
  .contact-form {
    width: 60%;
    margin-left: 380px;
  }
  .shipping-section {
    margin-right: 905px;
    margin-left: 905px;
  }
  
  .returns-section {
    margin-right: 908px;
    margin-left: 908px;
  }
  
  .size-guides-section {
    margin-right: 896px;
    margin-left: 896px;
  }
  input[type=submit] {
    margin-left: 510px;
  }
  .container1 {
    display: flex;
  }
  .container2 {
    flex: 50%;
  }
  .mySlides1 {
    padding-left: 80px;
  }
  .slide-wrapper {
    padding-left: 240px;
    padding-top: 80px;
  }
  .product-wrapper {
    padding-top: 55px;
    padding-left: 40px;
  }
  .dropdown-wrapper {
    margin-left: 202px;
    margin-bottom: 30px;
  }
  .sizing-guides1 {
    padding-left: 206px;
  }
  .buy-buttons {
    padding-left: 170px;
  }
  .related-products {
    margin-right: 859px;
    margin-left: 859px;
    margin-top: 50px;
  }
  
  .related-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 62px;
    margin-right: 62px;
  }
  .next1 {
    right: 990px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev1 {
    padding-left: 80px;
  }
}
